{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>My Portfolio</title>

    {% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">

       <div class="logo">
<img src="{% static 'images/logo.png' %}" alt="Naveen Saxena Logo">
</div>

        <ul class="nav-links" id="navLinks">

            <li><a href="{% url 'home' %}">Home</a></li>

            <li><a href="{% url 'about' %}">Skills</a></li>

            <li><a href="{% url 'projects' %}">Projects</a></li>

            <li><a href="{% url 'contact' %}">Contact</a></li>

        </ul>

        <div class="hamburger" id="hamburger">
            ☰
        </div>

    </nav>

    <!-- PAGE CONTENT -->

    {% block content %}
    {% endblock %}

    <!-- JAVASCRIPT -->

    <script>

        const hamburger = document.getElementById('hamburger');
        const navLinks = document.getElementById('navLinks');

        hamburger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });

    </script>

</body>

</html>