{% extends "portfolio/base.html" %}
{% load static %}

{% block title %}
Contact
{% endblock title %}

{% block content %}

<!-- ================= CONTACT SECTION ================= -->

<section class="contact-section">

    <div class="contact-container">

        <!-- LEFT SIDE -->

        <div class="contact-info">

            <h1>Contact Me</h1>

            <p>
                Feel free to contact me for web development projects,
                collaboration, or internship opportunities.
            </p>

            <div class="info-box">
                <h3>📧 Email</h3>
                <p>saxenanavee@gmail.com</p>
            </div>

            <div class="info-box">
                <h3>📱 Phone</h3>
                <p>+91 8770760951</p>
            </div>

            <div class="info-box">
                <h3>📍 Location</h3>
                <p>India</p>
            </div>

        </div>

        <!-- RIGHT SIDE -->

        <div class="contact-form">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                {{form.as_p}}

                <input type="text"
                       name="name"
                       placeholder="Your Name"
                       required>

                <input type="email"
                       name="email"
                       placeholder="Your Email"
                       required>

                <textarea name="message"
                          placeholder="Message"
                          required></textarea>

                <button type="submit">
                    Send
                </button>

            </form>

        </div>

    </div>

</section>

{% endblock content %}