{% extends "portfolio/base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}

<!-- ================= PROJECT SECTION ================= -->

<section class="projects-section">

    <div class="projects-header">

        <h1>My Projects</h1>

        <p>
            Here are some of the projects I have developed using
            Python, Django, HTML, CSS, JavaScript and Bootstrap.
        </p>

    </div>

    <!-- PROJECT CARDS -->

    <div class="projects-container">

        <!-- PROJECT 1 -->

        <div class="project-card">
        <img src="{% static 'images/Resturan.png' %}" alt="Project">


            <div class="project-content">

                <h2>Fast Food Responsive Website</h2>

                <p>
                    A Django-based restaurant website with food menu,
                    table booking system, authentication and admin panel.
                </p>

                <div class="project-tech">
                    <span>Django</span>
                    <span>Python</span>
                    <span>Bootstrap</span>
                </div>

                <a href="#" class="project-btn">
                    View Project
                </a>

            </div>

        </div>

        <!-- PROJECT 2 -->

        <div class="project-card">

            <img src="{% static 'images/project2.jpg' %}" alt="Project">

            <div class="project-content">

                <h2>Book Review System</h2>

                <p>
                    Modern responsive fast-food web application with
                    attractive UI and mobile-friendly design.
                </p>

                <div class="project-tech">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>

                <a href="#" class="project-btn">
                    View Project
                </a>

            </div>

        </div>

        <!-- PROJECT 3 -->

        <div class="project-card">

            <img src="{% static 'images/project3.jpg' %}" alt="Project">

            <div class="project-content">

                <h2>QR Code Ge</h2>

                <p>
                    Personal portfolio website showcasing skills,
                    projects, achievements and contact information.
                </p>

                <div class="project-tech">
                    <span>Django</span>
                    <span>CSS</span>
                    <span>Python</span>
                </div>

                <a href="#" class="project-btn">
                    View Project
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock content %}