{% extends "portfolio/base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}

<!-- ================= PROJECT SECTION ================= -->

<section class="projects-section">

    <div class="projects-header">

        <h1>My Projects</h1>

        <p>
            Here are some of the projects I have developed using
            Python, Django, HTML, CSS, JavaScript and Bootstrap.
        </p>

    </div>

    <!-- PROJECT CARDS -->

    <div class="projects-container">

        <!-- PROJECT 1 -->

        <div class="project-card">
        <img src="{% static 'images/Resturan.png' %}" alt="Project">


            <div class="project-content">

                <h2>Fast Food Responsive Website</h2>

                <p>
                    A Django-based restaurant website with food menu,
                    table booking system, authentication and admin panel.
                </p>

                <div class="project-tech">
                    <span>Django</span>
                    <span>Python</span>
                    <span>Bootstrap</span>
                    <span>Cloud Services</span>
                </div>

                <!-- <a href="#" class="project-btn"> -->
                <a href="{% url 'food_project' %}" class="project-btn">
                    View case study
                </a>

            </div>

        </div>

        <!-- PROJECT 2 -->

        <div class="project-card">

   <img src="{% static 'images/bookrs.jpeg' %}" alt="Project">

            <div class="project-content">

                <h2>Book Review System</h2>

                <p>
                A responsive web application where users can explore books, write reviews, and rate their favorite titles.
                Built with an attractive UI.
                </p>

                <div class="project-tech">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>AWS</span>
                    <span>Django REST Framework</span>
                </div>

                <!-- <a href="#" class="project-btn"> -->
                <a href="{% url 'book_review' %}" class="project-btn">
                    View case study
                </a>

            </div>

        </div>

        <!-- PROJECT 3 -->

        <div class="project-card">

            <img src="{% static 'images/sweetlayers.jpeg' %}" alt="Project">

            <div class="project-content">

                <h2>Cake Customize</h2>

                <p>
                 A creative web application that allows users to design and customize cakes for special occasions with the help of you can order your wish  cake .
                </p>

                <div class="project-tech">
                    <span>Django</span>
                    <span>CSS</span>
                    <span>Python</span>
                    <span>REST API</span>
                </div>

                <!-- <a href="#" class="project-btn"> -->
                <a href="{% url 'cake_customize' %}" class="project-btn">
                    View case study
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock content %}

