/* body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
} */

nav{
    background:#222;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    margin:20px;
    text-decoration:none;
    font-size:18px;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:50px;
}

.hero h2{
   
    color:white;
}

.hero a{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
     background: #38bdf8;
    color: black;
    text-decoration:none;
    border-radius:5px;
}


/* About  */
/* ================= GOOGLE FONT ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ================= BODY ================= */

body{
    background: #0f172a;
    color: white;
}

/* ================= NAVBAR ================= */

/* nav{
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #111827;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo{
    font-size: 28px;
    font-weight: bold;
    color: #38bdf8;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #38bdf8;
} */

/* ================= ABOUT SECTION ================= */

.about-section{
    min-height: 100vh;
    padding: 80px 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 70px;
    align-items: center;
}

/* ================= IMAGE ================= */

.about-image{
    text-align: center;
}

.about-image img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;

    border: 8px solid #38bdf8;

    box-shadow: 0px 0px 30px rgba(56,189,248,0.5);

    transition: 0.4s;
}

.about-image img:hover{
    transform: scale(1.05);
}

/* ================= CONTENT ================= */

.about-content h4{
    color: #38bdf8;
    font-size: 22px;
    margin-bottom: 10px;
}

.about-content h1{
    font-size: 60px;
    margin-bottom: 15px;
}

.about-content h2{
    font-size: 30px;
    color: #94a3b8;
    margin-bottom: 20px;
}

.about-content p{
    font-size: 18px;
    line-height: 1.8;
    color: #cbd5e1;
    margin-bottom: 20px;
}

/* ================= SKILLS ================= */

.skills{
    margin-top: 30px;
}

.skills span{
    display: inline-block;

    padding: 10px 20px;
    margin: 10px;

    background: #1e293b;

    border: 1px solid #38bdf8;

    border-radius: 30px;

    transition: 0.3s;
}

.skills span:hover{
    background: #38bdf8;
    color: black;
    transform: translateY(-5px);
}

/* ================= BUTTONS ================= */

.about-buttons{
    margin-top: 30px;
}

.btn{
    display: inline-block;

    padding: 12px 25px;

    background: #38bdf8;
    color: black;

    text-decoration: none;

    border-radius: 8px;

    font-weight: 600;

    margin-right: 15px;

    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-5px);
}

.btn-outline{
    background: transparent;
    color: #38bdf8;
    border: 2px solid #38bdf8;
}

.btn-outline:hover{
    background: #38bdf8;
    color: black;
}

/* ================= ACHIEVEMENT SECTION ================= */

.experience-section{
    padding: 80px 10%;
    background: #111827;
}

.section-title{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.experience-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.experience-card{
    background: #1e293b;

    padding: 30px;

    border-radius: 15px;

    transition: 0.3s;

    border: 1px solid transparent;
}

.experience-card:hover{
    transform: translateY(-10px);
    border-color: #38bdf8;
}

.experience-card h3{
    color: #38bdf8;
    margin-bottom: 15px;
}

.experience-card p{
    color: #cbd5e1;
    line-height: 1.7;
}

/* ================= RESPONSIVE ================= */

@media(max-width: 992px){

    .about-container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .experience-container{
        grid-template-columns: 1fr;
    }

    .about-content h1{
        font-size: 42px;
    }

    .about-content h2{
        font-size: 24px;
    }

    .about-image img{
        width: 250px;
        height: 250px;
    }
}

/* Projects  */
/* ================= PROJECT SECTION ================= */

.projects-section{
    min-height: 100vh;
    padding: 80px 10%;
    background: #0f172a;
    color: white;
}

/* HEADER */

.projects-header{
    text-align: center;
    margin-bottom: 60px;
}

.projects-header h1{
    font-size: 55px;
    margin-bottom: 20px;
    color: #38bdf8;
}

.projects-header p{
    font-size: 18px;
    color: #cbd5e1;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

/* PROJECT GRID */

.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

/* CARD */

.project-card{
    background: #1e293b;
    border-radius: 18px;
    overflow: hidden;

    transition: 0.4s;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.project-card:hover{
    transform: translateY(-12px);
}

/* IMAGE */

.project-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* CONTENT */

.project-content{
    padding: 25px;
}

.project-content h2{
    font-size: 26px;
    margin-bottom: 15px;
}

.project-content p{
    color: #cbd5e1;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* TECH STACK */

.project-tech{
    margin-bottom: 25px;
}

.project-tech span{
    display: inline-block;

    background: #0f172a;

    color: #38bdf8;

    padding: 8px 15px;

    border-radius: 25px;

    margin: 5px;

    font-size: 14px;

    border: 1px solid #38bdf8;
}

/* BUTTON */

.project-btn{
    display: inline-block;

    padding: 12px 22px;

    background: #38bdf8;

    color: black;

    text-decoration: none;

    border-radius: 8px;

    font-weight: 600;

    transition: 0.3s;
}

.project-btn:hover{
    background: white;
    transform: scale(1.05);
}

/* RESPONSIVE */

@media(max-width: 992px){

    .projects-container{
        grid-template-columns: 1fr;
    }

    .projects-header h1{
        font-size: 40px;
    }
}
/* Css for contact  */
/* ================= CONTACT SECTION ================= */

.contact-section{
    min-height: 100vh;
    padding: 80px 10%;
    background: #0f172a;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 60px;

    align-items: center;
}

/* ================= CONTACT INFO ================= */

.contact-info h1{
    font-size: 55px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.contact-info p{
    color: #cbd5e1;
    line-height: 1.8;
    margin-bottom: 25px;
}

.info-box{
    background: #1e293b;

    padding: 20px;

    border-radius: 12px;

    margin-bottom: 20px;

    transition: 0.3s;
}

.info-box:hover{
    transform: translateY(-5px);
    border-left: 4px solid #38bdf8;
}

.info-box h3{
    margin-bottom: 10px;
    color: #38bdf8;
}

/* ================= FORM ================= */

.contact-form{
    background: #1e293b;

    padding: 40px;

    border-radius: 18px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    width: 100%;

    padding: 15px;

    margin-bottom: 20px;

    border: none;

    outline: none;

    border-radius: 10px;

    background: #0f172a;

    color: white;

    font-size: 16px;
}

.contact-form textarea{
    resize: none;
}

/* BUTTON */

.contact-form button{
    padding: 15px;

    border: none;

    border-radius: 10px;

    background: #38bdf8;

    color: black;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover{
    background: white;
    transform: translateY(-5px);
}

/* ================= RESPONSIVE ================= */

@media(max-width: 992px){

    .contact-container{
        grid-template-columns: 1fr;
    }

    .contact-info{
        text-align: center;
    }

    .contact-info h1{
        font-size: 42px;
    }
}